# Personal vscode settings
.vscode/settings.json
**.egg-info

# ignoring raw data files in github
/data/raw
data/~$tes_about_san_francisco_crime_dataset.docx
presentation/~$San Francisco Crime Data.pptx
